.references {
    margin-top: 20px;
    margin-left: 20px;
}

.references h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.5rem;
}

.references ul {
    list-style: none;
    padding: 0;
}

.references li {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 1.5;
}

.references li::before {
    content: "\2022";
    position: absolute;
    margin-left: -20px;
}

.references a {
    color: #007bff;
    text-decoration: none;
}

.references a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .references h2 {
        font-size: 1.2rem;
    }

    .references li {
        margin-left: 10px;
    }
}
