
.bg-container {
    background: url('@/asset/newLogin/login_bg.png');
    opacity: 0.3;
    background-size: cover;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -2;
    top: 0;
    left: 0;
}
.bg-container-2 {
    background: url('@/asset/newLogin/login_bg2.png');
    opacity: 1;
    background-size: cover;
    position: fixed;
    height: 95vh;
    width: 90vw;
    z-index: -1;
    top: 3vh;
    left: 5vw;
}

.login-area
{
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid rgba(22, 22, 22, 0.2);
    margin-left: auto; /* 让元素靠右 */
}
.login-content{
    width: 100%;
    /*这个带文字的登录部分之后得手动调一下的*/
    height: 80%;
    /*margin-top: 40%;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    gap: 5px;
}
.sosSet{
    width: 80%;
    height: 15%;
    display: flex;
    /*aspect-ratio: 5/2;*/
    margin-left: 10%;
    margin-bottom: 35%;
}
.select-set{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}
.select-area {
    width: 100%;
    height: 60px;
    flex-direction: row; /* 这一行应该放在 display: flex; 的后面 */
    margin-top: 5%;
}

.notSelectedButton
{
    width: 25%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid #d2d2d2;
}
.selectedButton
{
    width: 25%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #00bbff;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(22, 22, 22, 0.05);
    cursor: pointer;
    transition: border-bottom 0.2s, background-color 0.2s;
}
.color-block
{
    width: 100%;
    height: 25%;
    background-color: #3271ae; /* 设置你想要的颜色，这里以浅灰色为例 */
    border: 1px solid #3271ae; /* 边框示例 */
    border-radius: 4px; /* 圆角示例 */
}

.login-frame{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid rgba(22, 22, 22, 0.2);
}
.spaceBlock
{
    height:20%;
}

.button-set{
    width: 35%;
    height: 40px;
    margin-top: 15px;
}
